{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression": "pk = :pk and sk = :sk",
        "expressionValues" : {
            ":pk" : $util.dynamodb.toDynamoDBJson("USER#${ctx.identity.sub}"),
            ":sk" : $util.dynamodb.toDynamoDBJson("LIKE#${ctx.args.ID}")
        }
    }
}
